@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
  color: #E2E4F3;
}
section
{
   width: 100%;
   background: url('./resources/bg.jpg') no-repeat center center;
   background-size: cover;
   min-height: 100vh; 
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 0px;
}
.flex {
    display: flex;
    justify-content: space-between;
}
h1  {
    font-size: 24px;
    font-weight: 500;
}
.score-container {
    background: linear-gradient(#E65895, #BC6BE8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
}
.score-container i {
    margin-right: 10px;
}
.quiz-container {
    margin-top: 50px;
    background: #343964;
    padding: 70px 40px;
    border-radius: 16px;
}
.quiz {
    max-width: 600px;
    margin: 0 auto;
}
.numbers {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.progress {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #393F6E;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}
.progress.active {
    background: linear-gradient(#E65895, #BC6BE8);
}
h3 {
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
}
.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 40px;
}
.options .option {
width: 100%;            /* ogni bottone si adatta alla colonna */
  padding: 25px 30px;
  border-radius: 12px;
  background: #3b3e7a;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s; 
  font-family: "Be Vietnam Pro", sans-serif;
  color: #E2E4F3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.options .option:hover, .options .option.active {
    background: linear-gradient(#E65895, #BC6BE8);
}
.container.finished {
    display: none;
}
.result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 20px 40px;
    background: #343964;
    text-align: center;
    border-radius: 16px;
    max-width: 400px;
    display: none;
}
.result h3 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
}
.result p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1rem;
}
.result button {
  display: block;
  margin: 40px auto;          
  padding: 20px 30px;
  border-radius: 12px;
  background: #3b3e7a;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s; 
  font-family: "Be Vietnam Pro", sans-serif;
  color: #E2E4F3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
   background: linear-gradient(#E65895, #BC6BE8);
   outline: none;
   border: none;
 width: 60%;
}

@media(max-width: 768px) {
  .container {
    padding: 100px 20px;
  }
  .numbers {
    flex-wrap: wrap;
    justify-content: center;
  }
  .quiz-container {
    padding: 20px 10px;
  }
  .options {
    grid-template-columns: repeat(1,1fr);
  }
  .result {
      width: 90%;
}
.result img {
    width: 100%;


